/* Resets */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Helpers */
.container {
    display: flex;
    max-width: 1180px;
    margin: 0 auto;
}

/* Helpers - spacing */

/* Margins */
.m {
    margin: 10px;
}

.m-1 {
    margin: 15px;
}

.m-2 {
    margin: 20px;
}

.m-3 {
    margin: 25px;
}

.mg-4 {
    margin: 30px;
}

.mg-5 {
    margin: 35px;
}

.mg-6 {
    margin: 40px;
}

.mg-7 {
    margin: 45px;
}

.mg-8 {
    margin: 50px;
}

/* Margins Top */
.mt {
    margin-top: 10px;
}

.mt-1 {
    margin-top: 15px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 25px;
}

.mt-4 {
    margin-top: 30px;
}

.mt-5 {
    margin-top: 35px;
}

.mt-6 {
    margin-top: 40px;
}

.mt-7 {
    margin-top: 45px;
}

.mt-8 {
    margin-top: 50px;
}

/* Margins Bottom */
